* { box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

.main-content {
  max-width: 60rem;
main {
  position: absolute;
  top: 4rem;
  max-width: 80rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  border: 1px solid white;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  height: 4rem;
  width: 100%;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

header {
  background-color: #000000;
}

header h1 {
  display: inline;
  color: #ffffff;
  flex-grow: 1;
}

.pokemon-list {
  list-style: none;
  margin: auto;
  width: 16rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  background-color: #ffffff;
  padding: 0;
  width: 36rem;
  margin: 0;
  border: 1px solid white;
}

.pokemon-list__item {
  height: 2rem;
  width: 14.5rem;
  background-color: #dddddd;
  font-size: 1.25rem;
  text-align: left;
  padding: 0.125em 0.25em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  border: 1px solid #222222;
}

.pokemon-list__item:hover {
  border: 4px solid #222222;
}

.pokemon-display {
  border: 1px solid white;
}

.properties-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5em;
  border: 1px solid white;
}

.property {
  border: 1px solid white;
}

.property__name {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border: 1px solid white;
}

span.property__value {
  margin: 0.5em;
  padding: 0 0.5em;
  border: 1px solid white;
}

div.category {
  grid-column: 1 / 3;
}

.type {
  display: grid;
  grid-template-columns: 7em calc(100% - 8em);
  column-gap: 1em;
  border: 1px solid white;
}

.type__name {
  border: 1px solid white;
}

.type__value {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  border: 1px solid white;
}

.weakness {
  display: grid;
  grid-template-columns: 7em calc(100% - 8em);
  column-gap: 1em;
  border: 1px solid white;
}

.weakness__name {
  border: 1px solid white;
}

.weakness__value {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  border: 1px solid white;
}

.element {
  text-align: center;
  background-color: yellow;
  border: 1px solid white;
  margin: 0.125em;
  padding: 0.625em;
  font-size: 1rem;
  border-radius: 30%;
  flex-shrink: 0;
  flex-grow: 0;
}

@media screen and (max-width: 1090px) {

  .properties-grid {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  div.category {
    grid-column: 1 / 2;
  }
}

}
