
* { box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

body {
  font-size: 1.125rem;
}

main {
  position: absolute;
  top: 4rem;
  max-width: 80rem;
  display: grid;
  column-gap: 1rem;
  border: 1px solid white;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  height: 4rem;
  width: 100%;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
  width: 100%;
  grid-template-columns: auto 1fr;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

header {
  background-color: #000000;
}

header h1 {
  display: inline;
  color: #ffffff;
  flex-grow: 1;
}

.pokemon-list {
  list-style: none;
  width: 16rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: 1px solid white;
}

.pokemon-list__item {
  height: 2rem;
  width: 14.5rem;
  background-color: #dddddd;
  font-size: 1.25rem;
  text-align: left;
  padding: 0.125em 0.25em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
  border: 1px solid #222222;
}

.pokemon-list__item:hover {
  border: 4px solid #222222;
}

.modal-container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #aaaaaa80;
}

.modal-container-present {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  width: 20rem;
  background-color: #ffffff;
  text-align: center;
}

button.modal-close {
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #0000dd;
  text-decoration: underline;
}

button.modal-close:hover { text-decoration: none; }

.pokemon-picture {
  display: block;
  margin: auto;
  height: 96px;
  width: 96px;
}

@media screen and (max-width: 640px) {

  main { grid-template-columns: 1fr; }

  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    list-style: none;
    width: 100%;
    height: auto;
  }

  .pokemon-list__item {
    height: 1.75em;
    width: 9em;
    background-color: #dddddd;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.125em 0.25em;
    margin: 0.5em;
    box-shadow: 4px 4px 2px #333333;
  }

  .pokemon-list__item:hover {
    border: 1px solid #222222;
    background-color: #bbbbbb;
    box-shadow: 6px 6px 2px #222222;
  }

  .modal-container-present { position: fixed; }
}
